Repository boardGame12/vikings-chess, pull requests merged in 2024-02, with the labels that each got.

#49 bugFix and some adjustments
  play.js
Labels: bug

#51 logout button added and creator page done
  Scss/style.css
  Scss/style.css.map
  Scss/style.scss
  about.html
  creator.html
  index.html
  play.html
  playerChoice.html
  register.html
  rules.html
Labels: css added

#52 added sign-in pop-up
  Scss/style.css
  Scss/style.css.map
  Scss/style.scss
  playerChoice.html
  register.html
Labels: css added, added JavaScript

#54 about page fixed
  public/Scss/style.css
  public/Scss/style.css.map
  public/Scss/style.scss
  public/about.html
  public/index.html
Labels: css added

#55 removed duplicate files
  about.html
  creator.html
  index.html
  play.css
  play.html
  play.js
  playerChoice.html
  register.html
  rules.html
  styles.css
Labels: duplicate

#57 bug fix and api route for wins/losses
  public/play.js
  v1/middleware/validate.js
  v1/models/User.js
  v1/routes/auth.js
  v1/routes/index.js
  v1/server.js
Labels: added JavaScript

#58 fixed buttons for player choice
  public/Scss/style.css
  public/Scss/style.css.map
  public/Scss/style.scss
  public/playerChoice.html
Labels: css added
